.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 30px 2px 40px;
    background-color: #111111;
    box-shadow:  0px 20px 20px #111;
    backdrop-filter: blur(4px);
    color: white;
}
.header .logo img{
    width: 84px;
    height: auto;
}
.header .links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.header .right{
    display: flex;
    justify-content: space-between;
    gap: 14px;
    font-size: 20px;
}
